<% extend("../app.ejs") %>
<section class="detail-nav">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="menu-title text-decoration-none">
                        <a href="/" class="text-decoration-none">
                            <svg viewBox="0 0 666.63 146.21" preserveAspectRatio="none" width="80%" height="80%">
                                <defs>
                                  <style>.doctorcare-2020_svg__cls-1{fill:#ffc10e}.doctorcare-2020_svg__cls-2{fill:#ffc10e}</style>
                                </defs>
                                <path d="M73.11 41.43a31.68 31.68 0 1 0 31.68 31.68 31.68 31.68 0 0 0-31.68-31.68m19.9 38H79.43v13.65H66.78V79.43H53.21V66.78h13.57V53.13h12.65v13.65H93Z" class="doctorcare-2020_svg__cls-1"></path>
                                <path d="M73.11 125.24A52.13 52.13 0 0 1 21 74.49V21.88a73.09 73.09 0 1 0 107.67 98.74L112.71 107a52 52 0 0 1-39.6 18.24M73.11 0A72.82 72.82 0 0 0 44.3 5.91l-.3.15a3.76 3.76 0 0 0-2.13 3.37v22A52.14 52.14 0 0 1 113.36 40l16.19-13.33A73 73 0 0 0 73.11 0" class="doctorcare-2020_svg__cls-2"></path>
                                <text x="150" y="100" font-family="Arial" font-size="80" fill="#ffc10e" font-weight="bold">DoctorCare</text>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-8 d-flex flex-row justify-content-center align-self-center menu-type">
                    <!-- <span class="d-block"><a href="/" class="text-decoration-none">Homepage</a></span>
                    <span class="d-block mx-5"><a href="/for-patients" class="text-decoration-none">For patients</a></span>
                    <span class="d-block"><a href="/for-doctors" class="text-decoration-none">For doctors</a></span> -->
                    <span class="d-block"><a href="/" class="text-decoration-none">Trang chủ</a></span>
                    <span class="d-block mx-5"><a href="/for-patients" class="text-decoration-none">Dành cho bệnh nhân</a></span>
                    <span class="d-block"><a href="/for-doctors" class="text-decoration-none">Dành cho bác sĩ</a></span>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center">
                    <span><a href=" https://www.youtube.com/channel/UCHqJxLo7mKam9GKqqwr2wfA?sub_confirmation=1" target="_blank" class="text-decoration-none">Cần hỗ trợ?</a></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="detail-info-specialization">
    <div class="container">
        <div class="container">
            <div class="row">
                <!-- <div class="col-12 mt-3">
                    <a class="text-decoration-none" href="/">Homepage </a><span aria-hidden="true">&raquo;</span>
                    <span style="text-transform: uppercase">
                  Send feedback
                    </span>
                </div> -->
                <div class="col-12 mt-3">
                    <a class="text-decoration-none" href="/">Trang chủ </a><span aria-hidden="true">&raquo;</span>
                    <span style="text-transform: uppercase">
                  Gửi phản hồi
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="detail-info-clinic mt-3">
    <div class="container">
        <div class="container">
            <div class="row">
                <!-- <div class="col-8 mx-auto">
                    <h2>Send feedback after going to the doctor</h2>
                    <hr>
                    <div>
                        Your feedback will make it easier for others to choose the right doctor.                    </div>
                    <div class="mt-2">
                        Please consult your doctor after consulting your doctor: <%= doctor.name %>
                    </div>
                    <form id="formFeedBack">
                        <div class="form-row mt-4">
                            <div class="col">
                                <label for="feedbackName">Full </label>
                                <input class="form-control" name="feedbackName" id="feedbackName" type="text"
                                       placeholder="Full name (required)">
                            </div>
                            <div class="col">
                                <label for="feedbackPhone">Phone number</label>
                                <input class="form-control" name="feedbackPhone" id="feedbackPhone" type="text"
                                       placeholder="Phone number (required)">
                            </div>
                        </div>
                        <div class="form-group mt-2">
                            <label for="feedbackContent">Content</label>
                            <textarea class="form-control" name="feedbackContent" id="feedbackContent"
                                      type="text"></textarea>
                        </div>
                        <div class="mb-4">
                            <button type="button" class="btn btn-primary" data-doctor-id="<%= doctor.id %>" id="sendFeedback">Submit</button>
                        </div>
                    </form>
                </div>
            </div> -->
            <div class="col-8 mx-auto">
                <h2>Gửi phản hồi sau khi đi khám bác sĩ</h2>
                <hr>
                <div>
                    Phản hồi của bạn sẽ giúp người khác dễ dàng lựa chọn bác sĩ phù hợp hơn.                    </div>
                <div class="mt-2">
                    Vui lòng tham khảo ý kiến ​​bác sĩ sau khi tham khảo ý kiến ​​bác sĩ: <%= doctor.name %>
                </div>
                <form id="formFeedBack">
                    <div class="form-row mt-4">
                        <div class="col">
                            <label for="feedbackName">Tên đầy đủ </label>
                            <input class="form-control" name="feedbackName" id="feedbackName" type="text"
                                   placeholder="Tên đầy đủ (bắt buộc)">
                        </div>
                        <div class="col">
                            <label for="feedbackPhone">Số điện thoại</label>
                            <input class="form-control" name="feedbackPhone" id="feedbackPhone" type="text"
                                   placeholder="Số điện thoại (required)">
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <label for="feedbackContent">Nội dung</label>
                        <textarea class="form-control" name="feedbackContent" id="feedbackContent"
                                  type="text"></textarea>
                    </div>
                    <div class="mb-4">
                        <button type="button" class="btn btn-primary" data-doctor-id="<%= doctor.id %>" id="sendFeedback">Nộp</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</section>
