<% extend("../app.ejs") %>
<section class="detail-nav">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="menu-title text-decoration-none">
                        <a href="/" class="text-decoration-none">
                            <!-- <img class="menu-nav" src="/images/background/smile.png" alt="img logo">
                            <span class="text-decoration-none">Doctors care</span> -->
                            <svg viewBox="0 0 666.63 146.21" preserveAspectRatio="none" width="80%" height="80%">
                                <defs>
                                  <style>.doctorcare-2020_svg__cls-1{fill:#ffc10e}.doctorcare-2020_svg__cls-2{fill:#ffc10e}</style>
                                </defs>
                                <path d="M73.11 41.43a31.68 31.68 0 1 0 31.68 31.68 31.68 31.68 0 0 0-31.68-31.68m19.9 38H79.43v13.65H66.78V79.43H53.21V66.78h13.57V53.13h12.65v13.65H93Z" class="doctorcare-2020_svg__cls-1"></path>
                                <path d="M73.11 125.24A52.13 52.13 0 0 1 21 74.49V21.88a73.09 73.09 0 1 0 107.67 98.74L112.71 107a52 52 0 0 1-39.6 18.24M73.11 0A72.82 72.82 0 0 0 44.3 5.91l-.3.15a3.76 3.76 0 0 0-2.13 3.37v22A52.14 52.14 0 0 1 113.36 40l16.19-13.33A73 73 0 0 0 73.11 0" class="doctorcare-2020_svg__cls-2"></path>
                                <text x="150" y="100" font-family="Arial" font-size="80" fill="#ffc10e" font-weight="bold">DoctorCare</text>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-8 d-flex flex-row justify-content-center align-self-center menu-type">
                    <!-- <span class="d-block"><a href="/" class="text-decoration-none">Homepage</a></span>
                    <span class="d-block mx-5"><a href="/for-patients" class="text-decoration-none">For patients</a></span>
                    <span class="d-block"><a href="/for-doctors" class="text-decoration-none">For doctors</a></span> -->
                    <span class="d-block"><a href="/" class="text-decoration-none">Trang chủ</a></span>
                    <span class="d-block mx-5"><a href="/for-patients" class="text-decoration-none">Dành cho bệnh nhân</a></span>
                    <span class="d-block"><a href="/for-doctors" class="text-decoration-none">Dành cho bác sĩ</a></span>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center">
                    <span><a href=" https://www.youtube.com/channel/UCHqJxLo7mKam9GKqqwr2wfA?sub_confirmation=1" target="_blank" class="text-decoration-none">Cần hỗ trợ?</a></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="detail-info-specialization">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3">
                    <!-- <a class="text-decoration-none" href="/">Homepage </a><span aria-hidden="true">&raquo;</span>
                    <span style="text-transform: uppercase">
                   Access information
                    </span> -->
                    <a class="text-decoration-none" href="/">Trang chủ </a><span aria-hidden="true">&raquo;</span>
                    <span style="text-transform: uppercase">
                    Thông tin truy cập
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="detail-info-clinic mt-3">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto">
                    <!-- <h2>404 Page not found!</h2>
                    <hr>
                    <div>
                       <a href="/">Back to Homepage</a>
                    </div> -->
                    <h2>404 Không tìm thấy trang!</h2>
                    <hr>
                    <div>
                       <a href="/">Quay lại trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
